body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(127, 255, 189);

}

/* Style général pour la barre de menu */
.menu {
    background-color: rgb(127, 255, 189);
    border: 1px solid black;
}

/* Style général pour la liste (ul) */
.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

}

.menu li {
    flex: 1;
    text-align: center;

}

/* Style pour chaque lien <a> dans la navigation */
.menu a {
    color: #000;
    font-size: 1rem;
    display: block;
    padding: 10px 0;
    transition: background-color 0.3s ease;
}

/*style pour le changement de couleur des icones*/
.menu a:hover {
    background-color: #b2d8b2;
}

h1 {
    font-family: 'Cairo';
    font-size: 70px;
}

p {
    font-family: 'Cairo';
    font-size: 25px;
}

.p2 {
    border: 2px solid black;
    padding: 5px;
    width: fit-content;
    border-radius: 25%;
    font-size: 25px;

}

.conteneur {
    position: relative;
    bottom: 70px;
    left: 1100px;
    border: 2px solid black;
    border-radius: 20%;

}

.p3 {
    border: 2px solid black;
    padding: 5px;
    width: 1000px;
    border-radius: 20%;
    font-size: 20px;
    background-color: #6adb88;

}

.p4 {
    border: 2px solid black;
    padding: 5px;
    width: 1000px;
    border-radius: 20%;
    font-size: 20px;
    background-color: #6adb88;

}

.conteneur2 {
    position: relative;
    left: 1230px;
    bottom: 180px;
    border: 2px solid black;
}

.pemir {
    position: relative;
    left: 1100px;
    bottom: 210px;
}

.timgadimage {
    position: relative;
    left: 1200px;
    bottom: 690px;
    border: 2px solid black;


}

.timgadtexte {
    left: 1170px;
    bottom: 730px;
    position: relative;
}

.monumentimage {
    position: relative;
    left: 575px;
    bottom: 510px;
    border: 2px solid black;
}

.monumenttexte {
    position: relative;
    left: 575px;
    bottom: z
}

.footer-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    /* Hauteur de la barre */
    background-color: #d7f8ce;

}

/* Section gauche */
.left-section {
    width: 50%;
    height: 100%;
    background-color: #008000;
    box-sizing: border-box;
}

/* Section centrale avec l'icône */
.center-icon {
    font-size: 4px;
    color: red;
    width: 40px;
    height: auto;
    border-radius: 50%;

}

/* Section droite */
.right-section {
    width: 60%;
    height: 100%;
    background-color: white;

}

.titreapropos {
    border: solid, black;
    text-align: center;
}

.pbienvenue {
    background-color: #6adb88;
    border: 2px solid black;
    border-radius: 11%;
}

.ptipaza {
    position: relative;
    left: 1100px;
    font-size: 30px;

}

.imagetipaza {
    position: relative;
    left: 1000px;
    bottom: 30px;
    border: solid black;
    border-radius: 20%;
}

.pmission {
    background-color: #6adb88;
    border: 2px solid black;
    border-radius: 11%;
}

.poran {
    position: relative;
    left: 190px;
    top: 25px;

}

.imageoran {
    border: solid black;
    border-radius: 50%;
    width: 35%;

}

.pnotresite {
    background-color: #6adb88;
    border: 2px solid black;
    border-radius: 11%;
}

.video {
    position: relative;
    left: 950px;
    bottom: 480px;
    border: solid blue;

}

.h1contact {
    font-family: 'Cairo';
    font-size: 70px;
    border: solid, black;
    text-align: center;
}

.pentantque {
    border: 2px solid black;
    background-color: #6adb88;
}

.imgcoeur {
    position: relative;
    left: 70px;
    bottom: 150px;
    width: 1400px;
}
.titrehistoire{
    border: solid, black;
}
.textecolonisation{
    width: 1000px;
    background-color: #6adb88;
    border: 2px solid black;
    border-radius: 3%;
    font-family:'Times New Roman', Times, serif
}
.imagerevolution{
    float: right;
    width: 200px;
    height: auto;
    position: relative;
    top: 49px;
    border-radius: 31%;
}
.prisonniers{
    float: right;
    width: 200px;
    height: auto;
    border-radius: 31%;
}
.gloireanosmartyrs{
    float: right;
    width: 200px;
    height: auto;
    border-radius: 31%;
    position: relative;
    top: 175px;
    left: 200px;
}   
.delindigenat{
    float: right;
    width: 200px;
    height: auto;
    border-radius: 31%;
    position: relative;
    top: 625px;
    left: 400px;
}
.listecolonisation2{
    width: 960px;
    
    background-color: #6adb88;
    border: 2px solid black;
    border-radius: 3%;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif
    
    
}
.codeindigenat{
    position: relative;
    top: 275px;
    float: right;
}

.ppourtoute {
    border: 2px solid black;
    background-color: #6adb88;
    position: relative;
    bottom: 270px;
}

.ulcontact {
    border: 2px solid black;
    background-color: #6adb88;
    position: relative;
    bottom: 250px;
    font-size: 30px;
}
.Boutton{
    position: relative;
    top: 20px;
    right: 500px;
}
.textetourisme{
    width: 1500px;
    border: 2px solid black;
    border-radius: 3%;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif
}
.Tassili{
    background-color: #6adb88;
    border: 2px solid white;
    font-size: 25px;
    width: 600px;
}
.Casbah{
    background-color: #6adb88;
    border: 2px solid white;
    font-size: 25px;
    width: 600px;
    position: relative;
    bottom: 270px;

}
.Ghardaia{
    background-color: #6adb88;
    border: 2px solid white;
    font-size: 25px;
    width: 600px;
}
.videoTassili{
    position: relative;
    left: 950px;
    bottom: 320px;
}
.TitreCasbah{
    position: relative;
    bottom: 300px;
}
.imgCasbah{
    width: 400px;
    position: relative;
    bottom: 600px;
    left: 960px;
    border-radius: 11%;
}
.titreimgCasbah{
    position: relative;
    left: 1075px;
    bottom: 300px;
}
.titreGhardaia{
    position: relative;
    bottom: 600px;

}
.Ghardaia{
    position: relative;
    bottom: 600px;
}
.imgGhardia{
    width: 400px;
    border-radius: 11%;
    position: relative;
    left: 960px;
    bottom: 900px;
}
.titreimgGhardia{
    position: relative;
    bottom: 940px;
    left: 1095px;
}